@model TestWebApp.ViewModels.UslugeViewModel

@{
    ViewData["title"] = "Popis usluga";
}

<a asp-action="Create">Unos nove usluge</a>

<pager page-info="@Model.PagingInfo" page-title="Unesite zeljenu stranicu"
       page-action="Index" class="float-right">
</pager>


<table class="table table-sm table-striped table-hover" id="tableusluge">
    <thead>
        <tr>
            @{
                string[] nazivi = { "Id", "Detalji", "Cijena", "Vrijeme", "Kontakt", "Lokacija" };
                bool[] sortable = { true, true, true, true, true, true };
                for (int i = 1; i <= nazivi.Length; i++)
                {
                    <th>
                        @if (sortable[i - 1])
                        {
                            <a asp-route-sort="@i"
                               asp-route-page="@Model.PagingInfo.CurrentPage"
                               asp-route-ascending="@(Model.PagingInfo.Sort == i ? !Model.PagingInfo.Ascending : true)">
                                @nazivi[i - 1]
                            </a>
                        }
                        else
                        {
                            @nazivi[i - 1]
                        }

                    </th>
                }
            }
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var usluga in Model.Usluge)
        {
        <tr>
            <td class="text-left">@usluga.Id</td>
            <td class="text-left">@usluga.Detalji</td>
            <td class="text-left">@usluga.Cijena</td>
            <td class="text-left">@usluga.Vrijeme</td>
            <td class="text-left">@usluga.Kontakt</td>
            <td class="text-left">@usluga.Lokacija</td>
            <td class="btn-group">
                <a asp-action="Edit"
                   asp-route-id="@usluga.Id"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-sort="@Model.PagingInfo.Sort"
                   asp-route-ascending="@Model.PagingInfo.Ascending"
                   class="btn btn-sm" title="Ažuriraj"><i class="fas fa-edit"></i></a>

                <form asp-action="Delete" method="post"
                      asp-route-page="@Model.PagingInfo.CurrentPage"
                      asp-route-sort="@Model.PagingInfo.Sort"
                      asp-route-ascending="@Model.PagingInfo.Ascending">
                    <input type="hidden" name="Id" value="@usluga.Id" />
                    <button type="submit" class="btn btn-sm btn-danger delete" title="Obriši"><i class="fas fa-trash-alt"></i></button>
                </form>
            </td>
        </tr>

        }
    </tbody>
</table>

@section Styles{

}

@section scripts{

}