@model TestWebApp.ViewModels.ReferentniTipoviViewModel

@{
	ViewData["title"] = "Popis referentnih tipova";
}

<a asp-action="Create">Unos novog ref tipa</a>

<pager page-info="@Model.PagingInfo" page-title="Unesite zeljenu stranicu"
	   page-action="Index" class="float-right">
</pager>

<table class="table table-sm table-striped table-hover" id="tablereftipovi">
	<thead>
		<tr>
			<th>
				<a asp-route-sort="1"
				   asp-route-page="@Model.PagingInfo.CurrentPage"
				   asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)">
					Id Referentnog Tipa
				</a>
			</th>
			<th>
				<a asp-route-sort="2"
				   asp-route-page="@Model.PagingInfo.CurrentPage"
				   asp-route-ascending="@(Model.PagingInfo.Sort == 2 ? !Model.PagingInfo.Ascending : true)">
					Naziv Ref Tipa
				</a>
			</th>
			<th>
				<a asp-route-sort="3"
				   asp-route-page="@Model.PagingInfo.CurrentPage"
				   asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? !Model.PagingInfo.Ascending : true)">
					Opis Ref Tipa
				</a>
			</th>
		</tr>
	</thead>

	<tbody>
		@foreach ( var tip in Model.ReferentniTipovi ){
		<tr>
			<td class="text-left">@tip.Id</td>
			<td class="text-left">@tip.Opis</td>
			<td class="text-center">@tip.Naziv</td>
			<td class="btn-group">
				<a asp-action="Edit"
				   asp-route-id="@tip.Id"
				   asp-route-page="@Model.PagingInfo.CurrentPage"
				   asp-route-sort="@Model.PagingInfo.Sort"
				   asp-route-ascending="@Model.PagingInfo.Ascending"
				   class="btn btn-sm" title="Ažuriraj"><i class="fas fa-edit"></i></a>

				<form asp-action="Delete" method="post"
					  asp-route-page="@Model.PagingInfo.CurrentPage"
					  asp-route-sort="@Model.PagingInfo.Sort"
					  asp-route-ascending="@Model.PagingInfo.Ascending">
					<input type="hidden" name="Id" value="@tip.Id" />
					<button type="submit" class="btn btn-sm btn-danger delete" title="Obriši"><i class="fas fa-trash-alt"></i></button>
				</form>
			</td>
		</tr>		
		}
	</tbody>
</table>

@section Styles{
	
}

@section scripts{
	
}