
    <ul class=navbar-nav style="border-bottom border-bottom-color:#ffcc00">

        <li class="nav-item">
            <a style="color:#ffcc00" class="nav-link
        @(ViewBag.Controller == "Certifikat" ? "active": "")"
               asp-action="Index" asp-controller="Certifikat">
                Certifikati
            </a>
        </li>


        <li class="nav-item">
            <a style="color:#ffcc00" class="nav-link
        @(ViewBag.Controller == "Osoba" ? "active": "")"
               asp-action="Index" asp-controller="Osoba">
                Osobe
            </a>
        </li>


        <li class="nav-item">
            <a style="color:#ffcc00" class="nav-link
        @(ViewBag.Controller == "Oprema" ? "active": "")"
               asp-action="Index" asp-controller="Oprema">
                Oprema
            </a>
        </li>
        <li class="nav-item">
            <a style="color:#ffcc00" class="nav-link
        @(ViewBag.Controller == "Ponuda" ? "active": "")"
               asp-action="Index" asp-controller="Ponuda">
                Ponuda
            </a>
        </li>
        <li class="nav-item">
            <a style="color:#ffcc00" class="nav-link
        @(ViewBag.Controller == "JavniNatjecaji" ? "active": "")"
               asp-action="Index" asp-controller="JavniNatjecaji">
                Javni Natjecaji
            </a>
        </li>
        <li class="nav-item">
            <a style="color:#ffcc00" class="nav-link
        @(ViewBag.Controller == "Posao" ? "active": "")"
               asp-action="Index" asp-controller="Posao">
                Poslovi
            </a>
        </li>
        <li class="nav-item">
            <a style="color:#ffcc00" class="nav-link
        @(ViewBag.Controller == "Dobavljac" ? "active": "")"
               asp-action="Index" asp-controller="Dobavljac">
                Dobavljaci
            </a>
        </li>
        <li class="nav-item">
            <a style="color:#ffcc00" class="nav-link
        @(ViewBag.Controller == "Usluga" ? "active": "")"
               asp-action="Index" asp-controller="Usluga">
                Usluga
            </a>
        </li>
        <li class="nav-item">
            <a style="color:#ffcc00" class="nav-link
        @(ViewBag.Controller == "SklopljeniPosao" ? "active": "")"
               asp-action="Index" asp-controller="SklopljeniPosao">
                Sklopljeni Poslovi
            </a>
        </li>
     </ul>