@model Korisnik

@{
	ViewBag.Title = "azuriranje korisnika";
}

	<form method="post"
		  asp-route-page="@ViewBag.Page"
		  asp-route-sort="@ViewBag.Sort"
		  asp-route-ascending="@ViewBag.Asscending">
		<div asp-validation-summary="All"></div>
		@*<input type="hidden" asp-for="Id" />*@
		<div class="form-group">
			<label asp-for="Username"></label>
			<div><span asp-validation-for="Username" class="text-danger"></span></div>
			<input asp-for="Username" class="form-control" />
		</div>
		<div class="form-group">
			<label asp-for="Email"></label>
			<div><span asp-validation-for="Email" class="text-danger"></span></div>
			<input asp-for="Email" class="form-control" />
		</div>
		<div class="form-group">
			<label asp-for="Lozinka"></label>
			<div><span asp-validation-for="Lozinka" class="text-danger"></span></div>
			<input asp-for="Lozinka" class="form-control" />
		</div>
		<div class="form-group">
			<label asp-for="Kontakt"></label>
			<div><span asp-validation-for="Kontakt" class="text-danger"></span></div>
			<input asp-for="Kontakt" class="form-control" />
		</div>
		<div class="text-center">
			<button class="btn btn-primary" type="submit">Spremi</button>
			<a asp-action="Index"
			   asp-route-page="@ViewBag.Page"
			   asp-route-sort="@ViewBag.Sort"
			   asp-route-ascending="@ViewBag.Asscending"
			   class="btn btn-danger">Odustani</a>
		</div>
	</form>